@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

:root {
  --fundo-azul: #01a5f4;
  --botao1: #e7b83b;
  --botao2: #e7b83b;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

.botao1 {
  background-color: var(--botao1);
  color: white;
  text-shadow: #282c34 1px 1px 4px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 10vh;
  width: 20vw;
  transition: 0.3s;
  border-radius: 50px;
  border: none;
  top: 50vh;
  position: absolute;
  font-family: "League Gothic", sans-serif;
  font-size: 6vh;
}

.botao1:hover {
  animation-play-state: paused;
  cursor: pointer;
  background-color: white;
  color: var(--botao1);
  border: 3px var(--botao1);
  border-style: solid;
  text-shadow: none;
}

@keyframes botao1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.botao2 {
  background-color: var(--botao2);
  border-radius: 50px;
  border: none;
  position: absolute;
  right: 75vh;
  text-shadow: 1px 1px black;
  width: 10vw;
  font-size: 4rem;
  color: white;
  font-family: "League Gothic", sans-serif;
  bottom: -3vw;
  transition: 0.3s;
}
.botao2:hover {
  cursor: pointer;
  background-color: white;
  color: var(--botao2);
  border: 3px var(--botao2);
  border-style: solid;
  text-shadow: none;
}

body {
  background: url("../img/background amarelo.png");
}

.div-logo {
  background-color: white;
  height: 8vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.div-azul {
  display: grid;
  background-color: var(--fundo-azul);
  height: 45vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0em 0em;
  grid-template-areas: "livro conteudo";
}

.galasFeios {
  display: flex;
  height: 6vh;
  margin-left: 2rem;
}

.livro {
  display: flex;
  position: absolute;
  height: 70vh;
  grid-area: livro;
  z-index: 2;
  left: 10vw;
  max-width: 100%;
}

.conteudo {
  grid-area: conteudo;
  font-family: "League Gothic", sans-serif;
}

.conteudo h1 {
  font-size: 7rem;
  font-weight: 300;
}

.conteudo h1 span {
  color: var(--botao1);
  text-shadow: 5px 5px 1px #1286d3;
}

.conteudo h2 {
  margin-top: -4vh;
  font-weight: 100;
  font-size: 2rem;
  width: 40vw;
}

form {
  position: relative;
  bottom: 70vh;
  left: 0vw;
  font-size: 3vw;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0em 3em;
  grid-template-areas:
    "nome mensagem socialmedia"
    "email mensagem socialmedia";
}

label,
input {
  font-family: "League Gothic", sans-serif;
  margin-left: 7.5vw;
}

input {
  font-size: 5vh;
  padding: 2vh 1.5vw;
}

textarea {
  height: 37vh;
  width: 40vw;
  text-align: start;
  font-size: 5vh;
}
.nome {
  grid-area: nome;
}

.parallax-bg {
  height: 10000px;
  width: 100vw;
}

.parallax2 {
  height: 800px;
  z-index: -1;
  display: flex;
}

.rasgo {
  margin-top: -13rem;
  width: 100%;
  z-index: 2;
}

.mensagem {
  grid-area: mensagem;
}

.contato {
  font-size: 10vw;
  overflow: hidden;
  bottom: 50vh;
  position: relative;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
}

.email {
  grid-area: email;
}

.socialmedia {
  grid-area: socialmedia;
  margin-top: 10vh;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0em 1em;
  grid-template-areas:
    "youtube"
    "instagram"
    "facebook"
    "twitter";
}

.youtube {
  height: 10vh;
  grid-area: youtube;
  filter: hue-rotate(405deg);
}
.facebook {
  height: 10vh;
  grid-area: facebook;
  filter: hue-rotate(560deg);
}
.twitter {
  height: 10vh;
  grid-area: twitter;
  filter: hue-rotate(560deg);
}
.instagram {
  height: 10vh;
  grid-area: instagram;
  filter: hue-rotate(450deg);
}

.twitter:hover {
  filter: hue-rotate(0deg);
  cursor: pointer;
}
.youtube:hover {
  filter: hue-rotate(0deg);
  cursor: pointer;
}
.instagram:hover {
  filter: hue-rotate(0deg);
  cursor: pointer;
}
.facebook:hover {
  filter: hue-rotate(0deg);
  cursor: pointer;
}

@media (max-width: 2057px) {
  .livro {
    left: 5vw;
    height: 60vh;
  }
  .botao1 {
    font-size: 4vh;
    top: 55vh;
  }
}

@media (max-width: 1511px) {
  .livro {
    height: 40vh;
    left: 7vw;
  }
  .div-azul {
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "livro" "conteudo";
    width: 100%;
    overflow: hidden;
  }

  .conteudo {
    margin-left: 50px;
  }

  .conteudo h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  .conteudo h2 {
    margin-top: 2vh;
    font-weight: 100;
    font-size: 1rem;
    width: 80vw;
  }
  .botao1 {
    font-size: 3vh;
    top: 100vh;
    left: 25vw;
    width: 50vw;
  }
  .form {
    bottom: 1vh;
    font-size: 1vw;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    gap: 0em 1em;
    grid-template-areas:
      "nome"
      "email"
      "mensagem"
      "socialmedia";
  }
  .parallax {
    display: block;
  }
  .parallax-bg {
    height: 10000px;
    width: 100vw;
  }
  .parallax2 {
    height: 400px;
  }
  .rasgo {
    margin-top: -5rem;
  }
  .socialmedia {
    display: inline-flex;
  }
  .contato {
    bottom: 10vh;
  }

  label,
  input {
    margin-left: 3vw;
  }
  .youtube,
  .facebook,
  .twitter,
  .instagram {
    height: 6vh;
  }
}
